.mainContainer {
  padding-top: 2rem;
}

.seconadaryContainer {
  max-width: 80rem;
  margin: auto;
  background-color: var(--color-base-300);
  border-radius: 5px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.leftColumn {
  padding: var(--padding-md);
}

.invoicePreviewContainer {
  width: 100%;
  text-align: center;
  background-color: var(--color-base-100);
  border-radius: var(--radius-selector);
}

.invoicePreviewInstructions {
  text-align: center;
}
.paragraph {
  text-align: center;
  max-width: inherit;
}

.invoiceHeader {
  padding-block: var(--padding-md);
  background-color: var(--color-base-200);
  border-radius: var(--radius-selector);
  width: 30%;
  margin: auto;
  text-align: center;
  color: var(--color-base-content);
  margin-top: var(--padding-sm);
}
